.create-comment {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.create-comment input {
  flex: 1;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.create-comment button {
  padding: 8px 16px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.comment-logo {
  display: flex;
  align-items: center;
}

.create-comment input {
  flex: 1;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  width: 100%;       /* تأكيد */
}

